{% extends "base2.html" %}

{% block nav %}
<div class="nav">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"><a href = '/'>Home</a></span>
            <span class="icon-bar"><a href="/">Dashboard</a></span>
            <span class="icon-bar"><a href='/logout'>Log out</a></span>
          </button>
                    <a class="navbar-brand" href="/">Yummy Recipe</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="pull-right">
            <li><a href = '/'>Home</a></li>
            <li><a href="/">Dashboard</a></li>
            <li><a href='/logout'>Log out</a></li>
        </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

{% endblock %}
{% block body %}
 <div class="container">
    <div class="row">
        <div class="col-sm-6" id="main">
            <h1><span>Recipe Procedure Details</span></h1>
        </div>
        <div Class="col-sm-4"></div>
    </div>
    <div class="container">
        <h3>Recipe Name:{{ recipe }}</h3>
        <table class="table-stripped table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Procedure Name</th>
                    <th>Procedure Details</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for activity in activities %}
                <tr><td>{{activity.activity_id}}</td>
                    <td>{{ activity.name}}</td>
                    <td>{{ activity.description}}<td>
                    <td><button class="btn"><a>Edit<a></button></td>
                    <td><a href={{'/recipes/'+recipe_id+'/'+activity.activity_id+'/delete' }}><button class="btn">Delete</button></a></td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
        <a href ={{'/create_activity/'+recipe_id}}><button type='button' class="btn pull-right">New Procedure</button></a>
    </div>
{% endblock %}