{% extends "base2.html" %} {% block nav %}
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="/">Yummy Recipe</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li><a href="/login">LogOut</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</div>

{% endblock %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-6" id="main">
            <h1><span>Recipe Procedure Details</span></h1>
        </div>
        <div Class="col-sm-4"></div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <h3>Recipe Name:{{ recipe }}</h3>
            <table class="table-stripped table-hover">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Procedure Name</th>
                        <th>Procedure Details</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for activity in activities %}
                    <tr>
                        <td>{{activity.activity_id}}</td>
                        <td>{{ activity.name}}</td>
                        <td>{{ activity.description}}
                            <td>
                                <td><button class="btn"><a>Edit<a></button></td>
                                <td><a href={{ '/recipes/'+recipe_id+ '/'+activity.activity_id+ '/delete' }}><button class="btn">Delete</button></a></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            <a href={{ '/create_activity/'+recipe_id}}><button type='button' class="btn pull-right">New Procedure</button></a>
        </div>
    </div>
    {% endblock %}