{% extends "base.html" %}


{% block body %}
<h2 class="text-center">Login Page</h2>
    <form class="form-horizontal" action = "" method ="POST">
        <div Class="form-group"> 
            <label class="col-md-4 control-label" for = "username">Username : </label>
            <input Class="form-control" type = "text" name = "username" required="">
        </div>
        <div Class="form-group">
            <label class="col-md-4 control-label" for = "password">Password : </label>
            <input Class ="form-control" type = "password" name = "password" required="">
        </div>
        <button type = "submit" Class="btn btn-success pull-right">Log in</button>
        <button type = "submit" Class="btn btn-default pull-left"><a href="/createuser">Create Account</a></button>
    </form>
{% endblock %}