{% extends "base.html" %}

{% block nav %}
<div class="nav">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"><a href = '/'>Home</a></span>
            <span class="icon-bar"><a href="/">Dashboard</a></span>
            <span class="icon-bar"><a href='/logout'>Log out</a></span>
          </button>
                    <a class="navbar-brand" href="/">Yummy Recipe</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="pull-right">
            <li><a href = '/'>Home</a></li>
            <li><a href="/">Dashboard</a></li>
            <li><a href='/logout'>Log out</a></li>
        </ul>
                </div>
            </div>
        </nav>
    </div>
</div>


{% endblock %}
{% block body %}
    <h1>Recipe Details</h1>
    <form action = "" method ="POST">
        <div Class="form-group"> 
            <label for = "name">Name : </label>
            <input Class="form-control" type = "text" name = "name">
        </div>
        <div Class="form-group">
            <label for = "description">Procedure : </label>
            <textarea Class ="form-control"  name = "description" row ="3"></textarea>
        </div>
        
        
        <button type = "submit" Class="btn btn-primary pull-right">Save</button>
    </form>
    <p></p>
{% endblock %}