{% extends "base2.html" %} {% block nav %}
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="/">Yummy Recipe</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li><a href="/login">LogOut</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</div>

{% endblock %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" id="main">
            <h1>Yummy Recipe</h1>
        </div>
        <div Class="col-sm-4"></div>
    </div>
    <div class="jumbotron">
        <h3>Yummy Recipe List</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Recipe</th>
                        <th>Ingredients</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in recipebag %}
                    <tr>
                        <td>{{ item.name}}</td>
                        <td>{{ item.description}}</td>
                        <td><a href={{ '/recipes/'+item.recipe_id }}><button class="btn">Open</button></a></td>
                        <td><a href={{ '/recipes/'+item.recipe_id+ '/update' }}><button class="btn">Edit</button></a></td>
                        <td><a href={{ '/recipes/'+item.recipe_id+ '/delete' }}><button class="btn">Delete</button></a></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            <a href="/create_recipe"><button type='button' class="btn pull-right">New Recipe</button></a>
        </div>
    </div>
    {% endblock %}