{% extends "base.html" %} {% block nav %}
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="/">Yummy Recipe</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li><a href="/login">LogOut</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</div>

{% endblock %} {% block body %}
<h1>Recipe Detail Update</h1>
<form action="" method="POST">
    <div Class="form-group">
        <label for="name">Name : </label>
        <input Class="form-control" type="text" name="name" value="{{activity.name}}">
    </div>
    <div Class="form-group">
        <label for="description">Description : </label>
        <textarea Class="form-control" name="description" row="3">{{activity.description}}</textarea>
    </div>


    <button type="submit" Class="btn btn-primary pull-right">Save</button>
</form>
<p></p>
{% endblock %}